.container {
  width: 100%;
  display: flex;
}

.logo {
  margin: 14px 0px 14px 30px;
}

.btn-burger {
  margin-left: auto;
  padding: 24px 20px;
  box-sizing: border-box;
  border: none;
  background: #fff;
  cursor: pointer;
}
